.main {
    position: relative;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 141px;
    margin-bottom: 0;
    padding: 40px 0;
}

.header__menu {
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin-top: 60px;
    align-self: center;
    justify-self: center;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
    background-size: contain;
    margin-top: 15px;
}

.header__address {
    max-width: 240px;
    justify-self: end;
    margin: 0;
    padding: 0;
    line-height: 18px;
    margin-right: 20px;
    margin-top: 20px;
}

.cover {
    margin-top: 0;
    margin-bottom: 150px;
    width: 100%;
    height: 760px;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

.cover__container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding: 0 24px;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    color: white;
    position: relative;
    letter-spacing: 120px;
}

.span {
    position: absolute;
    z-index: 2;
    white-space: nowrap;
    letter-spacing: 28px;
}

.one { 
    top: 155px;
    left: 25px; 
}
.two { 
    top: 298px;
    left: 352px; 
}
.three {
    top: 430px;
    left: 633px; 
}

.cover__description {
    position: absolute;
    display: flex;
    align-items: center;
    left: 50px;
    right: 50px;
    bottom: 48px;
    gap: 60px;
}

.subline {
    font-family: Raleway;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 5px;
    white-space: nowrap;
    z-index: 2;
}

.header__links-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 35px;
}

.header__links-list-item {
    font-family: Raleway;
    font-size: 18px;
    color: black;
}

.header__links-list li { 
    list-style: circle;
}

.button {
    background: none;
    border: 1px solid white;
    width: 266px;
    height: 51px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    margin-left: 90px;
}

.lots__card-list-item {
    width: 334px;
    height: 560px;
}

.lots__heading {
    padding-left: 24px;
    margin-bottom: 50px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.card-link {
    height: 100%;
    display: block;
    position: relative;
    background-size: cover;
    background-position: center;
    text-decoration: none;
}

.cover__description-text {
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    margin: 30px 40px;
}

.card__text {
    font-family: Raleway;
    font-size: 20px;
    line-height: 120%;
    color: white;
    margin: 0 40px 48px 40px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lots {
    padding: 0 24px;
}

.lots .container {
    padding: 0;
    margin-top: 60px;
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.lots__card-list {
    list-style: none;
    display: flex;
    gap: 25px;
}

.lots__look-more-link {
    display: block;
    font-family: Raleway;
    font-size: 20px;
    border-bottom: 1px solid black;
    color: black;
    margin-top: 20px;
    margin-left: 24px;
}

.about {
    margin-top: 140px;
    padding: 0 24px;
}

.about .container {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 72px;
    align-items: start;
    justify-items: start;
}

.logo__column {
    display: flex;
    justify-content: center;
}

.about__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about__text:last-child {
    margin-top: auto;
}

.about__logo {
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
}

.about__logo-image {
    object-fit: contain;
    width: 148px;
    height: 114px;
}

.about__title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.about__text {
    font-family: Raleway;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
}

.container {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: start;
    margin-top: 120px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer__menu-link {
    font-family: Raleway;
    font-size: 18px;
    color: black;
}

.footer__social-list {
    display: flex;
    gap: 16px;
    width: 240px;
    justify-content: space-between;
    list-style: none;
}

.footer__social-icon {
    width: 40px;
    height: 40px;
}

.footer__menu-list-item {
    list-style: none;
}

.footer {
    height:auto;
}
